body {
  font-family: "Bree Serif", serif;
}
p {
  font-size: 18px;
}
.nav-extended {
  height: 70px !important;
}

.nav-wrapper {
  background-color: #424242;
  padding: 0px 80px;
  height: 70px !important;
}
.nav-wrapper ul li a {
  font-size: 18px !important;
  margin: 0px 7px !important;
}
.nav-wrapper .material-icons {
  position: relative;
  display: inline;
  font-size: 23px;
  top: 5px;
}

.description {
  padding-bottom: 50px;
}

.header {
  font-family: "Pacifico", cursive;
}
.brand-logo,
h4 {
  font-family: "Pacifico", cursive;
}
.brand-logo .material-icons {
  font-size: 42px;
  top: 1.5px;
}

.slider .indicators .indicator-item.active {
  background-color: #424242;
}
.move {
  margin-top: 60px;
}

.parallax {
  min-height: 180px;
  height: auto;
}

.footer-one {
  background-color: #424242;
}

.footer-two {
  background-color: #212121;
  margin-bottom: 0px;
}
